body{
    background-image: url('./images/game-background.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}
.quiz-container{
    margin-top: 300px;
}
.span{
    width: 90%;
}
#question{
    background-color: blue ;
    text-align: center;
    
}