body{
    background-image: url('./images/game-background.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}
.quiz-container{
    margin-top: 320px;
}
.span{
    width: 90%;
}
#question{
    background-color: blue ;
    text-align: center; 
    padding: 20px; 
}
/* .money{
    position: relative;
    height: 100px;
    left: 100px;
} */